@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* line-height: 1.5; */
    padding: 0 30px;
    --primary-text-color: #FFFFFF;
     --secondary-text-color: #ffffff; 
--selected-text-color:#E5E5E5;
    --durability-text-color: #fca311;;
     --icon-color: #fca311;
    --border-color: #303030;
    /* --text-decoration-color: #ff9a00;  */
    background-color: #E5E5E5;

}

.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 900px;
}

.fh {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resume {
    margin: 50px auto;
    /* border: 1px solid #f5f5f5; */
    box-shadow: 1px 1px 7px 7px #14213D;
    padding: 30px 0;
    max-width: 900px;
    background-color: #000000;
}

.resume__block {
    /* border-bottom: 3px solid var(--border-color); */
    /* padding-bottom: 30px; */
    margin-bottom: 40px;
    display: flex;
    /* height: calc(100%/4); */
}
.contact_info_container{
    margin-left: 40px;
}
@media screen and (max-width: 576px) {

    .main-info,
    .contact_info_container {
        flex-direction: column;
    }

    .contact_info_container {
        align-items: left;
        margin-left: 20px;
        /* flex-direction: column; */
    }

    .contact-info__block:not(:last-child) {
        margin-bottom: 20px;
    }

    .experiences {
        margin-right: 0;
    }
}
/* .contact-info__header,
.contact-info__sub-header {
    text-align: center;
} */

.contact-info__header {
    color: var(--primary-text-color);
    margin-bottom: 5px;
    /* text-decoration-color: var(--text-decoration-color); */
    /* text-decoration-line: underline; */
}

.contact-info__sub-header {
    color: var(--secondary-text-color);
    margin-bottom: 40px;
}

/* .contact-info__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   /* padding-bottom: 20px; 
  
/* }  */

/* .contact-info__block--center {
    justify-content: center;
} */
.foto-block{
    width:35%;
height: auto;
}

.contact-info__item {
    color: var(--secondary-text-color);
    /* text-decoration: none; */
    display: flex;
    justify-content: start;
}

.contact-info__item:not(:last-child) {
    margin-bottom: 10px;
}

.contact-info__item-icon-wrapper {
    margin-right: 10px;
    width: 20px;
    display: flex;
    justify-content: center;
}

.contact-info__item-icon path {
    fill: var(--icon-color);
}

.contact-info__item-icon {
    height: 1.1428rem;
    vertical-align: text-bottom;
}

.contact-info__avatar {
    /* border-radius: 50%; */
    /* width: 100px;
    height: 100px;
     */
    
     width: 100%;;
     height: 100%;;
    /* object-fit: cover;
    border: 3px solid;
    border-color: var(--text-decoration-color); */
}

.intro-skills__block{
    display: flex;
   justify-content: space-between;
  width: 100%;
 
  
}
.skills{
    display: flex;
    flex-direction: column;
     width:35%; 
     margin-bottom: 5px;
     border-bottom: #e5e5e5bf ;
    border-bottom-style:dashed;
}
.soft-skills__block,.additional-info__languages,.additional-info__interests{
    display: flex;
    flex-direction: column;
    width: 100%;
     margin-top: 40px;
     border-bottom: #e5e5e5bf ;
     border-bottom-style:dashed;
     padding-bottom: 40px;
}
.additional-info__interests {
    border-bottom: none;
   
}
.skills-name{
    display: flex;
    flex-direction: row;
     width:calc(100%/2-10px);
    justify-content: space-between;
    align-items:start;
}
.skills-list{
    color: var(--secondary-text-color);
list-style: none;
}
.skill-item{
    margin-bottom: 10px;
}
.skill-bar{
   margin-bottom: 10px;
    accent-color: var(--durability-text-color);
}
.skill-and-bars{
    display: flex;
    
    justify-content: space-between;
    width: 100%;
}
.add-skill-item{
    color: var(--secondary-text-color);
/* align-self:; */
}
.subtitle {
    color: var(--durability-text-color);
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 100;
}

.skills__text {
    color: var(--secondary-text-color);
    /* text-align: justify; */
}
.intro__block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: calc(60%);
    margin-left :40px;
    cursor:pointer;
}
.main-info{
    font-weight: 700;
    color: var(--selected-text-color);
}
.main-info:hover{
    font-weight: 700;
    color: var(--durability-text-color);
}
.intro-heading{
    color: var(--secondary-text-color);
    font-weight:700;
    margin-bottom: 20px;
}
.skills-bars{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.intro__icon-wrapper {
    margin-right: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
}


.intro_text {
    color: var(--secondary-text-color);
    text-align: justify;
}

.soft-skills-text{
    color: var(--primary-text-color);
}
.soft-skills-education__block{
    display: flex;
   justify-content: space-between;
  width: 100%;
}

.additional-info__block{
    display: flex;
    flex-direction: column;
    width:35%; 
}

.education__block{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: calc(60%);
    margin-left :40px;
    margin-top: 40px;
}

.additional-info__interests-items{
    color: var(--primary-text-color);
}



.additional-info__education {
    margin-bottom: 20px;
}
.additional-info__languages-header {
    color: var(--secondary-text-color);
    text-align: left;
    margin-bottom: 20px;
}

.additional-info__languages-item {
    color: var(--secondary-text-color);
}

.additional-info__education-university{
    display: flex;
    justify-content: space-between;
}
.additional-info__education-university-durability,.additional-info__education-university-name{
    color:var(--primary-text-color);
    font-weight: 600;

}
.line_education{
  border-left: #E5E5E5 dotted;
   height: 100%; /* background-color: var (--selected-text-color);  */
margin-left: calc(100%/2 - 3px);
}
.duration-education{
    display: flex;
    flex-direction: column;
align-items: start;
}

.information-education{
    display: flex;
    flex-direction: column;
}

.additional-info__education-university-speciality{
    color: var(--selected-text-color);
}